body{
    background-color: rgb(57, 57, 185);
    font: normal 15px verdana;

}
header{
   color: white;
   text-align: center;
   font-style: italic;
}
section{
 background: white;
 border-radius: 15px;
 padding: 30px;
 width: 1100px;
 margin: auto;
 text-align: justify;
 box-shadow: 5px 5px 10px  rgba(0, 0, 17, 0.562);
}
footer{
  color: white;
  text-align: center;
  font-style: italic;
}
select#flista{
    width: 150px;
    text-align: right;
}